
a{
    color: var(--color-primary);
    transition: var(--transition);
  }
  a:hover{
    color: var(white);
  }

header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    text-align: center;
    
}
.header__container{
    align-items: center;
    height: 100%;
    position: relative;
}

.cta{
    display: flex;
    margin-top: 2.5rem;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

.header__social{
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 100px;
    bottom: 3rem;
}
.header__social a:hover{
    font-size: 1.75rem;
    background: var(--color-bg);
    color: white;
}

/* .header__social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
} */

.me{
    background: linear-gradient(var(--color-primary),transparent) ;
    width: 20rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 1.5rem;
}

.scroll_down{
    position: absolute;
    right: 2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.2rem;
}
.scroll_down:hover{
    color: white;
}

@media screen and (max-width: 1024px){
    .header__social{
        bottom: 5rem;
    }
    .scroll_down{
        bottom: 10rem;
    }
  }
  @media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .header__social,
    .scroll_down{
        display: none;
    }
  } 